@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}
.left-section {
  display: flex;
  align-items: center;

  cursor: pointer;
}
.left-section .logo {
  width: 46%;
  padding-left: 16px;
}
.mid-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -9%;
}
.mid-section form {
  height: 40px;
  width: 628px;
  border-radius: 2px;
  display: flex;
  padding: 2px 6px;
}
.mid-section input {
  border-radius: 2px 0 0 2px;
  width: 100%;
  height: 40px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #d3d3d3;
  border-right: none;
}

.mid-section form button {
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
  width: 64px;
  height: 40px;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
}
.mid-section form button:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
}
.mid-section form + i {
  border-radius: 50%;
  background: #f8f8f8;
  padding: 8px;
  cursor: pointer;
}
.right-section a {
  color: black;
  padding-right: 18px;
}
.aria-content {
  margin-top: 56px;
  height: calc(100vh - 56px);
  background: #f9f9f9;
}
aside {
  position: fixed;
  left: 0;
  top: 56px;
  width: 280px;
  height: 100%;
  background: white;

  overflow: hidden;
}
*::-webkit-scrollbar {
  width: 0.7rem;
}
*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1rem;
  width: 1rem;
}
aside:hover {
  overflow: scroll;
}
aside nav {
  width: 100%;
  margin: 15px 0;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: black;
  width: 100%;
  padding: 10px 16px;
}
.nav_link:hover {
  background: #f0f0f0;
}
.active {
  font-weight: 600;
  background: #e5e5e5;
}
.nav_link a {
  width: 20%;
}
.nav_link span {
  width: 80%;
  margin-left: 24px;
}
hr {
  margin: 1rem 0;
  height: 1px;
  border: none;
  background: #e5e5e5;
}
nav p {
  font-size: 1.4rem;
  color: #606060;
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
}
.channel-img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
main {
  width: calc(100% - 280px);
  height: 100%;
  margin-left: 280px;
  padding: 35px 15px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}
.videos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.video {
  width: 330px;
  margin-bottom: 40px;
  cursor: pointer;
  position: relative;
}
.more {
  position: absolute;
  right: 5px;
  bottom: 35px;
  padding: 5px;
  display: none;
}
.more:hover {
  background: #d3d3d3;

  border-radius: 50%;
}
.video:hover .more {
  display: block;
}
.video .thumbnail {
  width: 100%;
  height: 187px;
  margin-bottom: 1.2rem;
  position: relative;
}
.video .thumbnail::before {
  content: "30:50";
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 1.2rem;
  padding: 0.3rem;
  color: white;
  background: black;
}
.thumbnail img {
  width: 100%;
  height: 100%;
}

.video-dettails {
  height: calc(100% - 199px);
  width: 100%;
  display: flex;
}

.creator-img img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.2rem;
}
.title {
  display: flex;
  flex-direction: column;
}
.title .video-title {
  color: rgba(3, 3, 3);
  font-size: 1.6rem;
  max-width: 278px;
  line-height: 2.2rem;
  margin-bottom: 4px;
  font-weight: 500px;
  overflow: hidden;
}
.video-creator,
.title span {
  color: rgb(96, 96, 96);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}
.video-creator:hover {
  color: black;
}
@media (max-width: 1100px) {
  aside {
    display: none;
  }
  main {
    margin-left: unset;
    width: 100%;
  }
  .left-section .logo {
    width: 120px;
  }
  .mid-section form {
    width: 40vw;
  }
  .mid-section {
    margin-left: 0;
  }
  .right-section {
    overflow: hidden;
    margin-left: 2rem;
  }
}
@media (max-width: 550px) {
  .mid-section form input {
    display: none;
  }
  .mid-section form button {
    background: white;
    border: none;
  }
  .mid-section form {
    width: auto;
  }
}
